body{
    max-width: 500px;
    margin: 0 auto;
    
}

input{
    display: block;
    margin: 10px;
    width: 100%;
    padding: 10px;

}
.btn{
    width: 100px;
    background-color: aqua;
    font-weight: bold;
    font-size: 17px;
    color: #fff;
}

